/*  your css code here. If applicable */
.card{
	width:50vw;
	padding:40px;
	background-color:lightgray;
	box-shadow:0px 4px 10px black;
	text-align:center;
	
}
img{
	width:50vw;
	
}
#btn{
	padding:10px;
	background-color:orangered;
	color:white;
	border-radius:10px;
	border:none;
}
